# Intern Assignment 2

# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [31]:
import re
string = 'Python Exercises, PHP exercises.'
x=re.sub("[ ,.]",":",string)
print (x)

Python:Exercises::PHP:exercises:

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [66]:
import pandas as pd

dictionary = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dictionary)

print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [1]:
import re
string_pattern = r"\w{4}"
reg_pattern = re.compile(string_pattern)
print (reg_pattern)

re.compile('\\w{4}')

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [2]:
import re
compile_pattern = r"\w{3,5}"
result = re.compile(compile_pattern)
print (result)

re.compile('\\w{3,5}')

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [41]:
string = str(["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"])

import re
parenthesis_rem_pattern = ("\(|\)")
compile_pattern = re.compile(parenthesis_rem_pattern)
print (type(parenthesis_rem_pattern),"\n")
result = re.sub(parenthesis_rem_pattern,"",string)
print (result)

<class 'str'>

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [92]:
string = 'ImportanceOfRegularExpressionsInPython'
pattern = re.findall('[A-Z][^A-Z]*', string)
print (pattern)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [16]:
import re

string = 'RegularExpression1IsAn2ImportantTopic3InPython'
pattern = re.sub(r'(?=\d)', ' ', string)
print (pattern)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [60]:
import re

string = 'RegularExpression1IsAn2ImportantTopic3InPython'
pattern = re.sub(r'(?<=\d)(?=\D)|(?<=\D)(?=\d)', ' ', string)
print (pattern)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [89]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df = pd.read_csv(url)
print(df)

newdata = df['Country'].str[:6] = pd.dataframe['first_five_letters']
print (df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]

AttributeError: module 'pandas' has no attribute 'dataframe'

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [94]:
import re

pattern = re.match = r'^[a-zA-Z0-9_]$'

# Question 12- Write a Python program where a string will start with a specific number.

In [102]:
import re

string = '1993 is my born year'
pattern = re.match(r"\d{4}", string)
print (pattern)

TypeError: 'str' object is not callable

# Question 13- Write a Python program to remove leading zeros from an IP address

In [103]:
import re

ip_address = '216.08.094.196'
pattern = re.sub('0','',ip_address)
print (pattern)

216.8.94.196

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [132]:
import re

with open ('Assign2 Q14.txt','r') as file:
    read= file.read()
    print (read)
    
    pattern = re.findall(r'^\w+\s\d{1,2}(th)\s\d{4}$',read)
    print (pattern)

On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country
[]

# Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [ ]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = ['fox','dog','horse']
result = re.search(pattern,text)
print (result)

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [139]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'
result = re.search(pattern,text)
print (result)

<re.Match object; span=(16, 19), match='fox'>

# Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [145]:
import re

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.findall(pattern,text)
print (result)

['exercises', 'exercises', 'exercises']

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string

In [153]:
import re

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.findall(pattern,text)
print (result)

['exercises', 'exercises', 'exercises']

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

Not sure

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [220]:
import re

string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
patternz = re.compile(r'\b\d{1,3}\.\d{1,2}\b')
result = re.findall(patternz,string)
print (result)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [244]:
string = "abc123def456"
pattern = r'(\d+)'
result= re.findall(pattern,string)
print (result)

['123', '456']

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [270]:
import re

SampleText='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = re.findall(r'\b\d+\b',SampleText)
print (pattern)

maximum = max(int,pattern)
print (maximum)

['947', '896', '926', '524', '734', '950', '642']

TypeError: 'str' object is not callable

# Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [278]:
import re

text= "RegularExpressionIsAnImportantTopicInPython"
pattern = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', text)
print (pattern)

Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [ ]:
regex = re.findall(r'[A-Z][a-z]+',text)

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [281]:
text= "Hello hello world world"
unique = r'(\b\w+\b)'
pattern = re.findall(unique,text)
print (pattern)

unique = set(pattern)
print (unique)

['Hello', 'hello', 'world', 'world']
{'hello', 'Hello', 'world'}

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [ ]:
regex = r'(\w+$)'

# Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [284]:
import re

Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""
Pattern = r'(#\w+)'
result = re.findall(Pattern,Text)
print (result)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [293]:
import re

text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = r'(<U\+[0-9A-Z]{4}>)'
result = re.sub(pattern,'',text)
print (result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [296]:
import re

with open ('Assign2 Q29.txt','r') as file:
    read= file.read()
    print (read)
    
    pattern = re.findall(r'\d+\-\d+\-\d{4}',read)
    print (pattern)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [301]:
text= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements and then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = r'(\b\w{2,4}\b)'
result = re.sub(pattern,'',text)
print (result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.